@page "/fetchtodo"
@attribute [Authorize]
@inherits MyComponentBase

@using Client.Models
@using Client.Components
@using Application.Todos.Models

<PageTitle>Todo List</PageTitle>

<h1>Todo List</h1>

<TodoForm @ref="@TodoForm" @bind-Command="@TodoCommand"
    OnValidSubmit="@OnValidSubmit" OnDelete="@((id) => Delete(id))" />

@if (TodoItems == null)
{
    <p><em>Loading...</em></p>
    return;
}

<p>@(TodoItems.TotalItems) 個の項目が見つかりました。</p>

<table class="table">
    <thead>
        <tr>
            <th width="60%">タイトル</th>
            <th class="d-none d-lg-table-cell">開始</th>
            <th class="d-none d-lg-table-cell">終了</th>
            <th>状態</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in TodoItems.Results)
        {
            <TodoListItem Item="@item" OnClickEdit="@(item => ResultToCommand(item))"
                OnClickChangeState="@(args => ChangeState(args.Item1, args.Item2))" />
        }
    </tbody>
</table>

<PaginationLink Items="@TodoItems" />